src/main/mule/proj1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="proj1Flow" doc:id="3ce4d827-3efa-4d18-89e3-8714ea121ee2" >
		<logger level="INFO" doc:name="Logger" doc:id="98431cd8-125d-4615-b564-e9eb7befbc74" />
		<logger level="INFO" doc:name="Logger" doc:id="c8a68fc8-12a3-4206-b974-7eaefce30306" />
		<set-payload value='#["52"]' doc:name="Set Payload" doc:id="730bef98-4b4d-472f-8083-3c99b7054108" />
		<logger level="INFO" doc:name="Logger" doc:id="df11d115-deb7-4098-9940-2cb52b160300" />
		<logger level="INFO" doc:name="Logger" doc:id="4dcf8435-eb37-4224-951c-1e039af9aad4" />
		<logger level="INFO" doc:name="Logger" doc:id="a6dab194-3deb-4d82-aee3-0bb7ce3d9232" />
	</flow>
</mule>
